.accordion{
  max-width: 550px;
}

.accordion__item {
  --header_bg: #2b42b6;
  --border_radius: 5px;

  background-color: transparent;
  margin-bottom: 15px;
  border-radius: var(--border-radius);
  box-shadow: 0 2px 9px 0 rgba(black, .1);
  transition: background-color .2s ease-in .3s;

  &.active {
    background-color: white;
    transition: background-color .2s ease-in 0s;

    .accordion__header {
      color: black;
      background-color: white;
      transition: background-color .2s ease-in 0s, color .2s ease-in .2s;
    }

    .accordion__title{
      &:before, &:after{
        background-color: black;
        transition: background-color .2s ease-in .2s, transform .2s ease .1s;
      }

      &:before{
        display: none
      }

      &:after{
        transform: rotate(90deg)
      }
    }

    .accordion__body {
      max-height: 900px;
      padding: 0 15px 15px;
      transition: max-height .3s ease-in 0s, padding .2s ease-in 0s;
    }

    .accordion__dsc{
      opacity: 1;
      transition: opacity .2s ease-in .2s;
    }
  }
}

.accordion__header{
  color: white;
  background-color: lighten(var(--header_bg), 15%);
  border-radius: var(--border_radius);
  padding: 25px 15px;
  cursor: pointer;
  transition: background-color .2s ease-out .3s, color .2s ease-out 0s;
}

.accordion__title{
  position: relative;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: .025em;
  margin: 0;

  &:before, &:after{
    content: "";
    position: absolute;
    background-color: white;
    transition: background-color .2s ease-in 0s, transform .2s ease 0s;
  }

  &:before{
    width: 10px;
    height: 2px;
    right: 0;
    top: calc(50% - 1px);
  }

  &:after{
    width: 2px;
    height: 10px;
    right: 4px;
    top: calc(50% - 5px);
    transform: none;
  }
}

.accordion__body{
  max-height: 0;
  padding: 0 15px;
  overflow: hidden;
  transition: max-height .2s ease-out 0s, padding .1s ease-out .2s;
}

.accordion__dsc{
  font-size: .875rem;
  line-height: 1.6;
  opacity: 0;
  margin: 0;
  transition: opacity .2s ease-in 0s;
}
