//typography: base styles for fonts, p, a, standard h1, h2 ...
@import "variables";
@import "../mixins/breakpoints";

body{
  font-size: 16px;
  min-width: 320px;
  line-height: 1.4;
  font-family: var(--font_text);
  opacity: 1
}

a{
  color: var(--accent);

  &:visited{
    color: var(--accent);
  }
}

h1, h2, h3, h4, h5, h6{
  font-family: var(--font_text);
  color: var(--accent);
  line-height: 1.3;
}

h1{
  font-size: 50px;
  text-transform: none;

  @include breakpoint(extra-small){
    font-size: 32px;
  }
}

h2{
  font-size: 30px;
  text-transform: none;
  @include breakpoint(extra-small){
    font-size: 22px;
  }
}

h3{
  font-size: 25px;
}

h4{
  font-size: 20px;
  text-transform: none;
}

h5{
  font-size: 18px;
  text-transform: none;
}
