.js-input {
  width: 80px;
  padding: 0 12px;
  vertical-align: top;
  text-align: center;
  outline: none;
  border: 1px solid #ccc;
  height: 40px;
  user-select: none;

  &__decrement,
  &__increment {
    border: 1px solid #ccc;
    height: 40px;
    user-select: none;
    display: inline-block;
    width: 30px;
    line-height: 38px;
    background: #f1f1f1;
    color: #444;
    text-align: center;
    font-weight: bold;
    cursor: pointer;

    &:active {
      background: #ddd;
    }
  }
}

//<div class="js-input__wrap">
//<span class="js-input__decrement">–</span>
//<input class="js-input" type="text" value="1" min="0" max="20" maxlength="2" size="2" />
//<span class="js-input__increment">+</span>
//</div>
