.hamburger{
  z-index: 4;
  position: relative;
  padding: 10px 15px;
  display: none;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;

  @include breakpoint(l){
    display: flex;
  }
}

.hamburger-box{
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner{
  display: block;
  top: 50%;
  margin-top: -2px;
  width: 36px;
  height: 2px;
  box-shadow: 0 0.5px 0 0 rgba(40,72,111,.7);
  border-radius: 8px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;

  &:before, &:after{
    content: "";
    display: block;
    width: 36px;
    height: 2px;
    box-shadow: 0 0.5px 0 0 rgba(40,72,111,.7);
    border-radius: 8px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
  }

  &:before{
    top: -7px
  }

  &:after{
    bottom: -7px
  }

}

.hamburger-inner, .hamburger-inner:before, .hamburger-inner:after{
  background-color: #000;
}

.hamburger--spin{

  .hamburger-inner{
    transition-duration: 0.22s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);

    &:before{
      transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
    }

    &:after{
      transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
  }

  &.is-active{

    .hamburger-inner{
      transform: rotate(225deg);
      transition-delay: 0.12s;
      background-color: #fff;
      transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);

      &:before{
        top: 0;
        opacity: 0;
        background-color: #fff;
        transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
      }

      &:after{
        bottom: 0;
        background-color: #fff;
        transform: rotate(-90deg);
        transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
      }
    }
  }
}


/*
   * Elastic Alt
   */
//.hamburger--elastic
//	.hamburger-inner
//		top: 2px
//		transition-duration: 0.275s
//		transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55)
//		&:before
//			top: 10px
//			transition: opacity 0.125s 0.275s ease
//		&:after
//			top: 20px
//			transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55)
//
//.hamburger--elastic.is-active
//	.hamburger-inner
//		transform: translate3d(0, 10px, 0) rotate(135deg)
//		transition-delay: 0.075s
//		&:before
//			transition-delay: 0s
//			opacity: 0
//		&:after
//			transform: translate3d(0, -20px, 0) rotate(-270deg)
//			transition-delay: 0.075s

/*
   * Spring
   */
//.hamburger--spring
//	.hamburger-inner
//		top: 2px
//		transition: background-color 0s 0.13s linear
//		&:before
//			top: 10px
//			transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19)
//		&:after
//			top: 20px
//			transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19)
//
//	&.is-active
//		.hamburger-inner
//			transition-delay: 0.22s
//			background-color: transparent
//			&:before
//				top: 0
//				transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1)
//				transform: translate3d(0, 10px, 0) rotate(45deg)
//			&:after
//				top: 0
//				transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1)
//				transform: translate3d(0, 10px, 0) rotate(-45deg)

/*
   * Arrow Alt
   */
//.hamburger--arrowalt
//	.hamburger-inner
//		&:before
//			transition: top 0.1s 0.1s ease, transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1)
//		&:after
//			transition: bottom 0.1s 0.1s ease, transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1)
//
//	&.is-active
//		.hamburger-inner
//			&:before
//				top: 0
//				transform: translate3d(-8px, -10px, 0) rotate(-45deg) scale(0.7, 1)
//				transition: top 0.1s ease, transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22)
//
//	&.is-active
//		.hamburger-inner
//			&:after
//				bottom: 0
//				transform: translate3d(-8px, 10px, 0) rotate(45deg) scale(0.7, 1)
//				transition: bottom 0.1s ease, transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22)
